*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #ddebf8;
    border-bottom: 5px solid #d8cefe;

}



.card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    padding: 20px 0;
}


